@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --lato: 'Lato', sans-serif;
  --primary-color: #eb4d4cff;
  --secondary-color: #f7f7f7ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: black;
}

p,
h1,
h2,
h3 {
  font-family: var(--lato);
  text-transform: uppercase;

}

h2 {
  font-weight: 300;
  font-size: 3rem;
}

.icon {
  font-size: 3rem;
}

.icon--red {
  color: var(--primary-color)
}

.bg-right {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: white;
}

.bg-left {
  position: fixed;
  height: 100%;
  width: 50%;
  left: 0;
  background-color: var(--secondary-color);
}

.dice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.dice {
  background-color: white;
  margin: auto;
  height: 128px;
  width: 128px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}



.ui {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


.red-point {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 300px;
}

.player-ui {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.player-ui__container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.player-ui__score {
  font-size: 5rem;
  color: var(--primary-color);
  font-weight: 300;
}

.current-container {
  padding: 16px 24px;
  gap: 16px;
  display: flex;
  width: 168px;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}

.current-container h3 {
  color: black;
  font-weight: 400;
}

.current-container__score {
  font-size: 1.5rem;
}



.game-manager {
  position: fixed;
  height: 95%;
  display: flex;
  flex-direction: column;

}


.game-manager__new-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 2rem;
  text-transform: uppercase;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.roll,
.hold {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 2rem;
  text-transform: uppercase;
}

.game-manager__new-game:active p,
.hold:active p,
.roll:active p {
  transform: scale(0.96);
}



@keyframes diceAnimation {
  from {

    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);



  }
}


@keyframes diceAnimation--loose {
  0% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.dice-animation--loose {
  animation: diceAnimation--loose 0.1s ease-in-out infinite;
}

.dice-animation {
  animation: diceAnimation 0.3s ease-in-out;
}